.btn_green{
    background-color: #569B51;
    border-color: #255822;
}
.btn_green:hover{
    background-color: #0e380b;
    border-color: #b3f5af;
}
.btn_green:focus{
    background-color: #0e380b;
    border-color: #b3f5af;
}
.dropper{
    box-shadow: 0px 0px 13px 5px rgba(106,185,114,0.83);
    -webkit-box-shadow: 0px 0px 13px 5px rgba(106,185,114,0.83);
    -moz-box-shadow: 0px 0px 13px 5px rgba(106,185,114,0.83);  
}
.dropper__description{
    font-size: 0.7rem;
}
.bg_modal_dropper{
    background: #232730;
}
.filepond--drop-label.filepond--drop-label label{
    width: 100%;
    color:white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}